body {
    width: 100%;
    height: 100%;
    font: 0.9em/1.2 Arial, Helvetica, sans-serif;
    color: white;
    background-color: rgb(0, 0, 0);
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
}

header {
    width: 20%;
    position: fixed;
}
.search {
    display: none;
    margin-left: 20px;
}

.text-header {
    display: inline;
}

.body-content {
    width: 50%;
    margin-left: 20%;
    border-right: 1px solid rgb(255, 255, 255, 0.2);
    border-left: 1px solid rgb(255, 255, 255, 0.2);
}

.body-content .nav {
    position: fixed;
    width: 49%;
    top: 0;
    height: 50px;
    background-color: rgb(0, 0, 0, 0.8);
}

.body-content>div>div {
    padding: 10px 5% 10px 5%;
}

.list-posts {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.post {
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(255, 255, 255, 0.2);
    display: flex;
    flex-direction: row;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.icon-min {
    width: 25px;
    padding: 2.5px;
}

.icon-max {
    width: 32px;
    padding: 4px;
}

.img-avatar {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.avatar {
    width: 10%;
}

.content {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.content>img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
}

.right {
    right: 0px;
    position: fixed;
    width: 29%;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 1000px) {
    .body-content {
        width: 70%;
    }

    .body-content .nav {
        width: 69%;
    }

    .right {
        display: none;
    }

    .text-header {
        display: none;
    }

    .img-avatar {
        width: 40px;
        height: 40px;
        border-radius: 20px;
    }
}


@media screen and (max-width: 500px) {
    .body-content {
        width: 100%;
        margin-left: 0%;
        border-right: 0px solid rgb(255, 255, 255, 0.2);
        border-left: 0px solid rgb(255, 255, 255, 0.2);
    }

    .body-content .nav {
        width: 100%;
        left: 0%;
    }

    .body-content>div>div {
        padding: 10px 1% 10px 1%;
    }

    .right {
        display: none;
    }

    .search {
        display: inline;
    }

    header {
        display: none;
    }

    .avatar {
        width: 15%;
    }

    .content {
        width: 80%;
    }

    .img-avatar {
        width: 40px;
        height: 40px;
        border-radius: 20px;
    }

    .float-left {
        display: none;
    }
}